//these styles should be included only on the NMU homepage
//the template.php file is looking for a specific content type
//when it finds it, it will append this stylesheet to the css array

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";
@import 'components/drupal-tabs';

//hide the drupal page title since it's not needed here
.page__title {
	display: none;
}


.whats-new-sidebar {
	width:300px;
	float:right;
	margin:50px 0 20px 20px;
	padding:10px;
	@include border-radius(10px);
	background-color:#ebb11f;
	h1,
	h2,
	h3{
		color:#00754D;
	}
}

.whats-new-feature{
	//nothing in this section yet
}



// ************** middle
.group-middle {
	clear:both;
	background: $nmu-gray-evenlighter;
	padding:10px;
	@include border-radius (5px);
}
.whats-new-events {
	display:inline-block;
	vertical-align: top;
	width: 48%;
	margin-right:2%;
	padding:2%;
	border-right:2px solid white;
}
.whats-new-connected {
	width:48%;
	display:inline-block;
	vertical-align: top;
}


// ******************* after middle
.whats-new-visitors{
	margin:10px 0;
	position:relative;
	hr {
		width: 80%;
		color: $nmu-green;
		border-color: inherit
	}
}




// *************** footer
.group-footer {
	margin-top:20px;
	margin-bottom:20px;
}
.whats-new-footer {
	display:inline-block;
	vertical-align: top;
	width: 30%;
	margin-right:1%;
}
.whats-new-social-1 {
	display:inline-block;
	vertical-align: top;
	width: 32%;
	margin-right:1%;
	.fb_iframe_widget {
		display:block;
	}
}
.whats-new-social-2 {
	display:inline-block;
	vertical-align: top;
	width: 35%;
}



.fb-comments.fb_iframe_widget {
	max-height: 400px;
	overflow: scroll;
}