@import "init";

.content-wrapper{
  position: relative;
}
.row-margin{ //need this to cancel out the negative magrin provided by bootstrap rows
	margin-left:0px;
	margin-right:0px;
}
.Ambassador-Icon {
	min-height:100px;
	text-align: center;
	position: relative;
	margin-bottom:10px;
}
.amb-info-content {
	cursor:pointer;
}
.amb-info-name {
	position: absolute;
	width: 100%;
	padding:5px;
	bottom: 10px;
	left:0px;
	background-color:white;
	@include opacity(0.8);
	cursor:pointer;
}


.extend {
	display:none;
  width: 80%;
  background-color: white;
  position: absolute;
  z-index: 100;
  border:1px solid $nmu-black;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.ambassador-large-image{}
.ambassador-details{
	padding:10px;
}
.ambassador-small-image{
	float:left;
	padding-right:10px;
	padding-bottom:10px;
}
.ambassador-info{}
.ambassador-quote{}
.ambassador-form{}

.extend p {
//  padding: 0px 5px;
//  margin: 0;
}
.xbutton{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: $nmu-gray-lighter;
  @include opacity(0.8);
  color: black;
  text-align: right;
  padding: 3px 7px;
  cursor: pointer;
}
.xbutton:after{
  display: inline-block;
  content: "\00d7";
}
.submit-message{
	font-size:1.5em;
	padding:40px;
}
.input-processing{
	background-color:$nmu-gray-lighter;
	color:$nmu-gray;
}