//these styles should be included only on the NMU homepage
//the template.php file is looking for a specific content type
//when it finds it, it will append this stylesheet to the css array

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";
@import 'components/drupal-tabs';

.field-name-field-sidebar {
	width:300px;
	float:right;
	margin:50px 0 20px 20px;
	padding:10px;
	@include border-radius(10px);
	background-color:#ebb11f;
	h1,
	h2,
	h3{
		color:#00754D;
	}
}

.field-name-field-feature-section {

}



// ************** middle
.group-middle {
	clear:both;
	background: $nmu-gray-evenlighter;
	padding:10px;
}
.field-name-field-events-section {
	display:inline-block;
	vertical-align: top;
	width: 48%;
	margin-right:4%;
}

.field-name-field-connected-section {
	width:48%;
	display:inline-block;
	vertical-align: top;
}



// *************** footer
.group-footer {
	margin-top:20px;
	margin-bottom:20px;
}
.field-name-field-footer-section {
	display:inline-block;
	vertical-align: top;
	width: 38%;
	margin-right:1%;
}
.field-name-field-social-media-1 {
	display:inline-block;
	vertical-align: top;
	width: 25%;
	margin-right:1%;
	.fb_iframe_widget {
		display:block;
	}
}
.field-name-field-social-media-2 {
	display:inline-block;
	vertical-align: top;
	width: 35%;
}

.field-name-field-visitors{
	margin:10px 0;
	position:relative;
}
div.field-name-field-visitors::after {
	content: '';
	width: 80%;
	border-bottom: 1px solid $nmu-green;
	position:absolute;
	bottom:0; left:0;
	margin: 0 10%;
}


.visitor_section {
	width:42%;
	display:inline-block;
	margin-right:6%;
}

.fb-comments.fb_iframe_widget {
	max-height: 400px;
	overflow: scroll;
}