//these styles should be included only on the NMU homepage
//the template.php file is looking for a specific content type
//when it finds it, it will append this stylesheet to the css array

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";
@import 'components/drupal-tabs';

//hide the drupal page title since it's not needed here
.page__title {
	display: none;
}


.whats-new-sidebar {
	width:100%;
	padding:20px;
	margin-bottom:10px;
	margin-top:91px;
	@include border-radius(10px);
	background-color:#ebb11f;
	@media all and #{$mq-bootstrap-md-min} {
		float:right;
		margin:50px 0 20px 20px;
		padding:10px;
		width:250px;
	}
	@media all and #{$mq-bootstrap-lg-min} {
		width:300px;
	}
	h1, h2, h3 {
		color:#00754D;
	}
}

.whats-new-banner-wrapper {
	position:absolute;
	top:-91px;
	margin-right:15px;
	max-width:90%;
	@media all and #{$mq-bootstrap-md-min} {
		max-width:100%;
		position:relative;
		top:0;
		text-align:center;
		margin-right:0;
	}
}

.whats-new-banner {
	height:auto;
	@media all and #{$mq-bootstrap-md-min} {
		width:500px;
	}
	@media all and #{$mq-bootstrap-lg-min} {
		width:580px;
	}
}

.whats-new-feature{
	//nothing in this section
}



// ************** middle
.group-middle {
	background: $nmu-gray-evenlighter;
	@include border-radius (5px);
}
.whats-new-events {
	@media all and #{$mq-bootstrap-md-min} {
		border-right:2px solid white;
		border-bottom:none;
		margin-top:20px;  //margin needed to ensure the border does not run up to the top of the box
		:first-child{
			margin-top:0px;  //compensate for the additional margin by zeroing out the first childs top margin
		}
	}
	border-bottom:2px solid white;  //seperator for mobile
}
.whats-new-connected {
	//make sure margin is consistent on the first element in these sections
	@media all and #{$mq-bootstrap-md-min} {
		margin-top:20px;
		:first-child{
			margin-top:0px;
		}
	}
}


// ******************* after middle
.whats-new-visitors{
	margin:10px 0;
	hr {
		width: 80%;
		color: $nmu-green;
		border-color: inherit
	}
}



// *************** footer
.group-footer {
	margin-top:20px;
	margin-bottom:20px;
}
.whats-new-footer {
	//bootstrap handles the grid now
}
.whats-new-social-1 {
	//bootstrap handles the grid now
	.fb_iframe_widget {
		display:block;
	}
}
.whats-new-social-2 {
	//bootstrap handles the grid now
}



.fb-comments.fb_iframe_widget {
	max-height: 400px;
	overflow: scroll;
}