//these styles should be included only on the NMU admissions homepage
//the template.php file is looking for a specific content type
//when it finds it, it will append this stylesheet to the css array

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

@import 'components/nmu-slideshow';
@import "compass/css3/user-interface";
@import 'components/drupal-tabs';

#main.container {
	position: relative;
	top: -50px; //underneath the nav
}

.row #content {
	padding-top:0;  //remove the padding added for internal pages
}
.page__title {
	display:none;
}
header .region-main-navigation {
	height: 50px;  //set the height to 50, removing the extra 50 pixes added for pages that display the spanning image in this area
	.navbar {
		margin-bottom: 0;
	}
}

.major-searchbox {
	display:none;

	position:absolute;

	border:1px solid $nmu-gold;
	background-color:$nmu-gray-evenlighter;
	padding:20px;

	z-index:102;

	@media all and #{$mq-bootstrap-sm-min} {
		top:4.75%;
		left:5%;
		width:90%;
		.major-list {
			@include columns(300px 2);
		}
	}
	@media all and #{$mq-bootstrap-md-min} {
		top:8.3%;
		left:9%;
		width:800px;
		.major-list {
			@include columns(370px 2);
		}
	}
	@media all and #{$mq-bootstrap-lg-min} {
		top:9.3%;
		left:15.85%;
	}


	a,
	a:visited{
		color:$nmu-green-text;
	}
	a:active,
	a:focus,
	a:hover {
		color:$nmu-black;
	}

	h2:first-child{
		margin-top:0;
	}
	h2{
		font-size:1.5em;
		color:$nmu-green-dark;
		.search-level {
			//font-family:$avenir-black;
		}
	}
}



#admissions-homepage {
	section {
		overflow: hidden;
		& .col-md-6 {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.search-section {
		position: relative;
		text-align: center;
		& > img {
			float: right;
			max-width: 200%;
		}
		& > .form-group {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 75%;
			@include transform(translate(-50%, -50%));
			color: white;
			font-size: 1.5em;
			input[type="text"] {
				border: thin solid #888;
				@include border-radius(1px);
				background: transparent;
				color: white;
				font-size: 1em;
				@include input-placeholder {
					color: white;
				}
			}
			& > span {
				font-size: .9em;
				top: 2.1em;
				right: .5em;
			}
		}
		.control-label {

		}
	}
	.apply-section {
		text-align: center;
		padding-top: 3em;
		font-size: .9em;
		background-color: $nmu-gray-lightest;
		h2 {
			font-size: 1em;
			color: $nmu-green-darker;
			font-family: $avenir-black;
		}
		h3 {
			font-size: 2.3em;
			font-family: $avenir-medium;
		}
		& > p {
			max-width: 600px;
			margin: auto;
			font-size: 1em;
		}
		.button {
			display: block;
			width: 12em;
			line-height: 4em;
			background-color: $nmu-green-darker;
			margin: 1.5em auto;
			font-family: $avenir-black;
			text-transform: uppercase;
			a, a:hover, a:visited {
				color: white;
				text-decoration: none;
				cursor: pointer;
			}
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		& > ul {
			display: none;
			list-style-type: none;
			margin: 5em auto 1em auto;
			padding-top: 1em;
			border-top: thin solid lightgrey;
			width: 100%;
			text-align: center;
			li {
				display: inline-block;
				margin: 0 3em;
				padding: 1em;
				text-transform: uppercase;
				font-family: $avenir-black;
				border-radius: 2px;
				@include box-sizing(border-box);
				&:hover {
					background-color: $nmu-gray-lighter;
					transition: background-color 0.5s ease;
				}
				& a {
					display: block;
					width: 100%;
					height: 100%;
					&:hover, &:visited {
						text-decoration: none;
						color: $nmu-green;
					}
				}
			}
		}
	}
	.resources {
		text-align: center;
		h2 {
			width: 100%;
			padding: 1em 0;
			margin: 0;
			font-size: 1.7em;
			font-family: $avenir-black;
			text-transform: uppercase;
			color: $nmu-green-dark;
			border-bottom: solid thin $nmu-gray-lighter;
		}
		ul {
			list-style-type: none;
			font-weight: bold;
			color: $nmu-black;
			& > li {
				margin: 1em 0;
				position: relative;
				bottom: 1em;
				a, a:visited {
					color: $nmu-green;
					text-decoration: underline;
				}
				a:hover {
					color: $nmu-black;
				}
				h3 {
					text-transform: uppercase;
					font-family: $avenir-black;
					font-size: 1.5em;
				}
				&:first-of-type {
					position: static;
					&:after {
						content: "_";
						font-size: 2em;
						position: relative;
						bottom: 1em;
					}
				}
			}
		}
	}
	.connect {
		& > a {
			display: block;
			width: 100%;
			height: 100%;
			padding: 0;
			margin: 0;
		}
		img {
			width: 100%;
		}
		.image-overlay {
			background: none;
			top: 50%;
			bottom: auto;
			@include transform(translateY(-50%));
			h4, h5 {
				font-size: 1.5em;
			}
			.button {
				padding-left: 1em;
				padding-right: 1em;
				max-width: 75%;
				display: inline-block;
				font-weight: bold;
			}
		}
	}
}

.cycle-nav-caption {
	background-color: $nmu-gray-evenlighter;
}

.cycle-slideshow {
	overflow: hidden;
}

.academics-header {
	border-top:5px solid $nmu-green;
	background-color: $nmu-green;
	//margin:0 -15px 0 -15px;
	background-image:url("../images/admissions/admissions-academics-banner-767.jpg");
	background-position:60%;
	height:148px;
	@media all and #{$mq-bootstrap-md-min} {
		height:148px;
		background-image:url(../images/admissions/admissions-academics-banner.jpg);
		background-position:center;
	}

	.academics-label {
		margin-left:auto;
		margin-right:auto;
		width:400px;
		text-align:center;
		font-family:$avenir-medium;
		color:white;
		font-size:2.2em;
		line-height:1em;
		padding-top:40px;
		@media all and #{$mq-bootstrap-md-min} {
			width:500px;
			font-size:3em;
			line-height:1em;
			padding-top:60px;
		}
	}
}

.admissions-boxes {
	height:240px;
	width:240px;
	margin:10px auto;
	margin-bottom:150px;

	.adm-box-overlay {
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		width:240px;
		font-family:$avenir-medium;
		color:white;
		font-size:2.2em;
		line-height:1em;
		padding-top:80px;
		height:100%;

		.adm-yellow-numbers {
			color:$nmu-gold;
			font-family:$avenir-black;
		}
		.adm-yellow-text {
			color:$nmu-gold;
			font-family:$avenir-medium;
			padding-bottom:10px;
		}
	}

	.adm-caption {
		text-align:center;
		width:240px;
		margin-top:20px;
		color:$nmu-gray-darker;
	    a {
			line-height:3em;
			text-decoration:underline;
			color:$nmu-green;
		}
	}
}

.adm-box1 {
	background-image: url("../images/admissions/baja.jpg");
	margin-right:-10%;
}
.adm-box2 {
	background-image: url("../images/admissions/painter.jpg");
}
.adm-box3 {
	background-image: url("../images/admissions/soccer.jpg");
	margin-left:-10%;
}
.adm-box4 {
	background-image: url("../images/admissions/football.jpg");
	margin-right:-10%;
}
.adm-box5 {
	background-image: url("../images/admissions/sailors.jpg");
}
.adm-box6 {
	background-image: url("../images/admissions/blacksmith.jpg");
	margin-left:-10%;
}
@media all and #{$mq-bootstrap-sm-max}{
	.adm-box1, .adm-box3, .adm-box4, .adm-box6 {
		margin:10px auto 150px auto;
	}
	.adm-box1, .adm-box3, .adm-box5 {
		margin-right: 0px;
	}
	.adm-box2, .adm-box4, .adm-box6 {
		margin-left: 0px;
	}

}
@media all and #{$mq-bootstrap-xs-max}{
	.adm-box1, .adm-box2, .adm-box3, .adm-box4, .adm-box5, .adm-box6{
		margin:10px auto 150px auto;
	}
}
/* small phones */
@media not all and #{$mq-bootstrap-xs-min} {
 .cycle-overlay {
 	text-align: left;
 	& > a {
 		padding-left: 30px;
 		padding-right: 30px;
 	}
 	.button {
 		display: none;
 	}
 }
}

/* high res phones */
@media all and #{$mq-bootstrap-xs-min} {
 #admissions-homepage {
	 .search-section {
		 & > img {
			 max-width: 150%;
		 }
		 & > .form-group {
			 font-size: 2em;
			input[type="text"] {
				height: 2.5em;
			}
			& > span {
				top: 2.7em;
			}
		 }
	 }
	 .apply-section {
		.button {
			display: inline-block;
			margin-left: .5em;
			margin-right: .5em;
		}
	 }
 }
}

/* high res tablets */
@media all and #{$mq-bootstrap-sm-min} {
	#admissions-homepage {
		.search-section {
			& > img {
				max-width: 100%;
			}
			& > .form-group {
				width: 50%;
			}
		}
		.apply-section {
			& > ul {
				display: block;
			}
		}
		.resources {
			h2 {
				font-size: 3em;
			}
		}
		.connect {
			.image-overlay {
				h4, h5 {
					font-size: 2em;
				}
			}
		}
	}
}

/* wide */
@media all and #{$mq-bootstrap-md-min} {
	#admissions-homepage {
		& > .slideshow-section {
			@include display-flex();
		}
	}
}