/*
 NMU photo galleries.  For example: http://www.nmu.edu/admissions/gallery (def: node/396)
*/

#gallery-wrapper {
    max-width:100%;
    width:700px;
    margin-left:auto;
    margin-right:auto;
    border: solid 5px $nmu-gray-light;

	#main-gallery {
			position:relative;
			background-color:$nmu-gray-light;
			a.next:hover, a.prev:hover {
					//opacity:1;
					@include transition-duration(.5s);
					@include opaque;
			}
	}
	#thumbnail-gallery {
			position:relative;
			background-color:$nmu-gray-light;
			padding-top:5px;
			a.next, a.prev {
					background: $nmu-gray-light;
					color:#fff;
					@include opaque;
					width:0em;
			}
	}

	#cycle-2 {
			position: relative;
			overflow: hidden;
			text-align:center;
	}

	a.next {
			position: absolute;
			//background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
			@include background-image(linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%));
			top:0;
			bottom:0;
			right:0;
			width:15%;
			z-index:100;
			background-repeat:repeat-x;
			color:$nmu-gray-light;
			@include opacity(.5);
			text-decoration:none;
			cursor:pointer;
	}

	a.prev {
			position: absolute;
			//background-image:linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
			@include background-image(linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%));
			top:0;
			bottom:0;
			left:0;
			width:15%;
			z-index:100;
			background-repeat:repeat-x;
			color:$nmu-gray-light;
			@include opacity(.5);
			text-decoration:none;
			cursor:pointer;
	}
	#main-next {
			position:absolute;
			font-size:2em;
			right:0;
			top:50%;
			z-index:100;
	}
	#main-prev {
			position:absolute;
			top:50%;
			font-size:2em;
	}
	#thumb-prev {
			position:absolute;
			top:45%;
			left:0;
			font-size:1.5em;
			margin-left:-2px;
	}
	#thumb-next {
			position:absolute;
			font-size:1.5em;
			right:0;
			top:45%;
			margin-right:-2px
	}
	.cycle-slide {
		outline: 2px solid #cac8c8;
	}
	.tall {
		margin-left:30%;
	}
}

//help tall images scale correctly
@media #{$mq-bootstrap-xs-max} {
	#gallery-wrapper .tall {
		width: auto;
		max-height:100%;
	}
}

//in landscape mode on phones, shrink the gallery so the whole image can be viewed
@media #{$mq-bootstrap-xs-max} and (orientation: landscape) {
	#gallery-wrapper {width:85%;}
}


