/**
 * @file
 * SMACSS Modules - NMU-Header Specific
 */


//* top navigation
$top-navigation-height: 60px; //this height must correspond with the offset number applied to the main navigation so they stick together on scroll

.region-top-navigation {
	padding:0;  //make the nav bar fill up the space available
	height:$top-navigation-height;

	//* nav bar
	nav { //customize the bootstrap nav defaults
		background:$nmu-green-dark;
		border:none;
		@include border-radius(0);
		@include box-shadow(none);
		min-height:$top-navigation-height;
		z-index:103; //the drupal overlay is 500, so we want to make sure this stays below it
	}
	//* end of nav bar


	//* mobile navigation icons
	.navbar-toggle {
		padding:20px;
		//make the bootstrap button styles fit the mock
		background:$nmu-green-dark;
		border:none;
		@include border-radius(0px);
		height:60px;
		margin:0;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
			background: $nmu-green;  //must be background-color to overwrite bootstrap
	}
	.navbar-default .navbar-toggle {
		border-color: $nmu-green-border;  //have to put this here to override bootstrap's border color
	}
	.navbar-menu {
		border-right:1px solid;  //color of the borders set in .navbar-toggle
		float:left;
		span.icon-bar {
			background-color:$nmu-off-white;
			width:25px; //size the bootstrap icon-bars so they fit at the bigger size
			height:3px;  //more sizing
		}
	}
	.navbar-search {
		border-left:1px solid $nmu-green-border;
		font-size:1.5em;
		.glyphicon {
			top:-3px;  //move the search icon up a bit to center it
			color:$nmu-off-white;
		}
	}
	//* end of icons


	//* nav bar items
	.nav { //due to the bootstrap selector specificity, colors are applied in the navbar-nav section instead of here
		margin-top:0; //remove the top/bottom margin from bootstraps default so the mobile menu aligns to top/bottom
		margin-bottom:0;
		&:first-child {
			@media all and #{$mq-bootstrap-sm-min} {
				margin-left:-15px;  //remove the left padding so the leftmost element lines up with the edge of the screen (one is provided for right items by default)
			}
		}
		&>li {
			border-bottom:1px solid $nmu-gray-lighter;
			@media all and #{$mq-bootstrap-sm-min} {
				@include transition-duration(.5s);  //this transition controls the bg color
				border-bottom:none;
				border-right:1px solid $nmu-green-border;
				&:first-child {
					border-left:1px solid $nmu-green-border;
				}
				&.toolbar-main-nav {
					display:none;  //these extra links are only shown in the mobile version
				}
			}
			&:hover,
			&:focus {
				background:$nmu-green;
			}
			&>a {
				padding: 0 12px;
				font-size:.8em;
				font-family: $avenir-black;
				text-shadow:none;
				line-height:$top-navigation-height;
				max-width:160px;  //set a max width here so the animation that fires when shrinking to tablet is smoother
				@media all and #{$mq-bootstrap-only-sm} {
					padding: 14px 10px 6px;
					max-width:81px;  //constrain the width of items so there is room in the navbar for everything at the smallest width
					line-height:1.5em;
					height:$top-navigation-height;  //set a height so the hover color shows over the entire area
				}
			}
			&.toolbar-search,
			&.toolbar-home{
				display:none;  //don't show the search icon in the mobile menu
				@media all and #{$mq-bootstrap-sm-min} {
					display: block;
				}
			}
			&.toolbar-search>a,
			&.toolbar-home>a {
				font-size:1.4em;  //make the glyphicon elements bigger
				padding: 0 17px;  //give them a little more spacing
				@media all and #{$mq-bootstrap-only-sm} {
					padding: 16px 15px 4px;
				}
			}
		}
	}

	@media all and #{$mq-bootstrap-only-sm} {  //center the toolbar/audience nav items for small screens
		.nmu-toolbar-nav li>a,
		.nmu-audience-nav li>a.audience-single-word-nav{
			padding-top:22px;
		}
	}

	.navbar-default  {
		.navbar-collapse {
			background:white;
			border:none;
			@media all and #{$mq-bootstrap-sm-min} {
				background:none;
			}
		}
		.navbar-nav {  //colors are controlled here
			&>li {
				&:hover a,
				&:focus a {
					color:white;  //color the a's here to make sure they keep this color whenever the li is in focus or hover
				}
				&>a {
					color:$nmu-green-text; //color must be defined here to overwrite bootstrap
					@media all and #{$mq-bootstrap-sm-min} {
						color:$nmu-gray;
						@include transition-duration(.5s);  //add the transition to the a tag so it fires on mouseover and mouseout.  this controls the text color
					}
				}
			}
		}
		@media all and #{$mq-bootstrap-sm-min} {  //more color controls
			.nmu-toolbar-nav>li>a {
				color:$nmu-gold;
				&:hover,
				&:focus {
					color:$nmu-gold-highlight;
				}
			}
			.nmu-toolbar-nav>li.open>a {  //this is needed for when the search icon looses hover/focus otherwise bootstrap will style it
				color:$nmu-gold-highlight;
				background:$nmu-green;
			}
		}
	}

	//* search section
	.dropdown-search { //styles for  multiple background images
			background:
				 url(../images/background-gray.jpg),  //On top
				 url(../images/background-white.jpg);   //On bottom
			background-repeat: no-repeat, no-repeat;
			background-position: top, bottom;
			background-size: 100% 63.1%, 100% 38%;
			.no-multiplebgs & {  //fallback for devices without multiple backgrounds
				background:white;
			}
		@media all and #{$mq-bootstrap-md-min} {  //switch the backgrounds around for md screens and up
				background-position: left, right;
				background-size: 50.1%, 50%;
		}
	}

	.search-label {
		color:$nmu-green-darker;
		font-family: $avenir-black;
		letter-spacing:2px;
		padding-bottom:5px;
	}

	.search-options-container {
		background:url(../images/background-gray.jpg);
		padding:22px 26px 10px 26px;
		@media all and #{$mq-bootstrap-sm-min} {
			background-image:none;
			padding:0;
		}
	}

	.search-options {
		label {
			font-family: $avenir-medium;
			color:$nmu-gray;
			font-size:.8em;
		}
		input.search-radio {
			margin-right:8px;
			//removed by request
			//@include appearance(checkbox);
		}
	}
	.search-options-second {
		padding-right:14px;
	}

	.search-inputs {
		padding:15px 36px 15px 35px;
		@media all and #{$mq-bootstrap-sm-min} {
			padding:31px 20px  0 35px;
		}
		text-align:center;
		input[type="text"]{
			@include border-radius(0px);
			font-family:$avenir-medium;
		}
		input[type="submit"]{
			@include border-radius(0px);
			margin-left:20px;
			color:$nmu-green-darker;
			font-family:$avenir-black;
		}
	}

	@media all and #{$mq-bootstrap-sm-min} {
		#search-collapse-div {
			display:none !important; //hide the search section used in the xs pulldown
			//!important is needed to override the !important in bootstrap
		}
	}
	//* end of search section

}
//* end of top navigation


//* branding
.region-branding {
	background: $nmu-green-darker;
	text-align:center;
	letter-spacing:.06em;
	padding:15px 0 15px 0;

	.branding-one {
		font-family:$avenir-black;
		color:white;
		font-size:2.1em;
		line-height:1em;
	}
	.branding-two {
		font-family:$avenir-medium;
		color:$nmu-gold;
		font-size:1.2em;
	}
	.branding-logo {
		img {
			max-width:90%;
			height:auto !important;
		}
	}
	.alert-nmu {
		width: 80%;
		margin: 15px auto;
		p {
			margin:0;
		}
	}
}

//* main navigation
.region-main-navigation {
	position: relative;
		@media all and #{$mq-bootstrap-xs-max} {
			display:none;  //no need to show the spanning image on mobile since it just wastes space
			@include transition-duration(0s);
		}

	.header-spanning-image {
		background-repeat:repeat-x;
		background-position:center;
		height:100px;
		top: 0;
		width: 100%;
		position: absolute;
		&.image1 {
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/winter/winter-1.jpg);
			background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/spring/2015-4.jpg);
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/summer/2015-1.jpg);
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/fall/2015-1.jpg);
		}
		&.image2 {
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/winter/winter-2.jpg);
			background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/spring/2015-6.jpg);
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/summer/2015-2.jpg);
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/fall/2015-2.jpg);

		}
		&.image3 {
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/winter/winter-3.jpg);
			background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/spring/2015-11.jpg);
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/summer/2015-7.jpg);
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/fall/2015-3.jpg);
		}
		&.image4 {
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/winter/winter-4.jpg);
			background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/spring/2015-15.jpg);
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/summer/2015-3.jpg);
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/fall/2015-4.jpg);
		}
		&.image5 {
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/winter/winter-5.jpg);
			background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/spring/2015-17.jpg);
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/summer/2015-6.jpg);
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/fall/2015-5.jpg);
		}
		&.image6 {
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/winter/winter-6.jpg);
			background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/spring/2015-20.jpg);
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/summer/2015-7.jpg);
			//background-image:url(/sites/all/themes/zen_nmu/images/internal-spanning/fall/2015-6.jpg);
		}
	}

	padding:0;  //make the nav bar fill up the space available
	//height of 100 is needed to make space for the header-spaning image.  this value is reset for front pages to 50px
	height:100px; //give this region a height so when the nav is removed, the page just not jump up to fill up the empty space

	img[align="right"],
	img[style*="float: right"],
	img[style*="float:right"]{
		padding-left:5px;
	}
	img[align="left"],
	img[style*="float: left"],
	img[style*="float:left"]{
		padding-right:5px;
	}
	//This is used when the youtube video begins playing on the homepage to make the nav more transparent
	.nav-transparent {
		@include opacity(0.2);
	}
	//* customize the bootstrap nav defaults
	nav {
		width:100%;  //this is used to keep the nav full width when affixed.  must be in this selector so css animations don't animate it growing on an ipad scroll
		background:$nmu-black;
		border:none;
		@include border-radius(0);
		@include box-shadow(none);
		@include opacity(0.8);
		@include transition-duration(.5s);
		z-index:102; //the overlay is 500, so we want to make sure this stays below it
		margin-top:-1px;  //fix the phantom line that shows up on the ipad
		&:hover,
		&:focus,
		&.nav-active{
			@include opaque;
		}
	}

	.navbar-brand {
		display:none;
		text-shadow:none;
		color:$nmu-gold !important;
		font-family:$avenir-black;
	}

	nav.affix {  //navbar is affixed to the top of the screen
		top:$top-navigation-height;
		//z-index:1;  //why is this a 1 here?
		.navbar-brand {
			display:block;
			position:absolute;
			top:0;
			left:20px;
		}
	}

	/* this css will make the dropdown menus show on hover
	 * it still needs a lot of work before it will be fully functional
	 * work includes some smoother animations and an active class being applied to hovered element
	.dropdown:hover .dropdown-menu {
			display: block;
	 }
	*/

	//* adjust the margin on the nav elements based on screen size
	@media all and #{$mq-bootstrap-sm-min} {
		.nav>li>a {
			padding-left:30px; //* add padding for the hover background color
			padding-right:30px;
		}
		li.dropdown {
			margin: 0 1px;  //* add just a small margin between the nav items
		}
	}
	@media all and #{$mq-bootstrap-md-min} {
		.nav>li>a {
			padding-left:50px; //* more padding for bigger screens
			padding-right:50px;
		}
	}

	.navbar-default .navbar-nav>li>a {
		color:$nmu-gray-light;
		@include transition-duration(.5s);  //* add the transition to the a tag so it fires on mouseover and mouseout
		text-shadow:none;
		&:hover,
		&:focus{
			background:white;
			color:$nmu-green;
			text-shadow:none;
		}
	}

	//* make sure the nav item stays green even when the focus/hover is removed from the navbar item
	.navbar-default .navbar-nav>.open>a {
		color:$nmu-green;
		background:white;
	}

	//* center align the navbar text on all non collapsed layouts
	@media all and #{$mq-bootstrap-sm-min} {
		.navbar-center.navbar .nav,
		.navbar-center.navbar .nav > li {
				float:none;
				display:inline-block;
				vertical-align: top;
		}
		.navbar-center .navbar-collapse {
				text-align:center;
		}
		.navbar-center .dropdown-menu {
				text-align: left;
		}
	}

	//* wrap the navbar dropdowns in a max width div
	.dropdown-menu-width-wrapper {
		max-width:1200px;
		margin:0 auto;
	}

	//* no need for bootstrap's border around the full width dropdown menus
	.dropdown-menu {
		border:none;

		//if we want the menus to have a width instead of the full screen width use the following
		//max-width:1200px;
		//margin: 0 auto;
	}

}

//* This tweak only applied to users logged into drupal.  it makes the main nav stick in the right spot when the drupal toolbar is present
body.logged-in {
	.region-main-navigation nav.affix {
	top:#{$top-navigation-height +30};  //switched to 29.2 to remove the phantom line that shows up on tablets above the nav bar
}

	#header-main-navigation {
		margin-bottom:-50px;
	}

	.is-active .active {
		background-color: #dedede;
	}

}
