/**
 * @file
 * SMACSS Modules - NMU Specific
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 *
 *	NMU Fonts
 * $humanist-roman -serif
 *	$humanist-black
 *	$avenir-medium - sanserif
 *	$avenir-black
 *
 */


/**
 * Development Classes.
 */

.bg-blue {background:blue;}
.bg-green {background:greed;}
.bg-yellow {background:yellow;}
.bg-gray {background:gray;}
.bg-orange {background:orange;}
.bg-red {background:red;}


/**
 * Body.
 */
#main {

}
#content {
	//padding-top:1em;
	background:white;
	height: 100%; //make sure drupal's admin bar does not add some phantom padding to the bottom of main
	min-height:500px;
}

.front .page__title {
	display:none;
}

.video-wrapper {
		margin-top:-49px;
		max-height:600px;
	//we may need to change the dimensions of the video to fit better into the homepage
	//or find a way to use the code below to clip the frame to our desired deminsions
	//max-height:500px;
	//overflow:hidden;
}

//* ios does not load the video prior to creating a container for it on the page.  this container is 150x300 and does not scale after the video has been loaded
//* for that reason, you either need to specify a dimension for the video or use the styles below (found: http://blog.omgmog.net/post/fluid-video-embeds-for-your-responsive-website/)
.video-loop {
	position: relative;
  width: 100%; //* Use percentage width, so it scales
  height: 0; //* and this is where the magic happens
  padding-bottom: 56.25%; //* 4:3 : 75% (SD) - 16:9 : 56.25% (HD) - 1.85:1 : 54.05% (Cinema)
	&  > .video-frame {
		position: absolute;
		top: 0;
		left: 0;
		@media all and #{$mq-bootstrap-xs-max} {
			top:50px;  //move the video down since the main navbar is hidden
		}

		/* make the iframe/embed fill the wrapper */
		height: 100%;
		width: 100%;
	}
}

.video-overlay {
	position:absolute;
	color:white;
	text-align:center;
	left:28%;
	top:20%;
	letter-spacing:2px;
	.video-text-1a {
		font-size:2em;
		line-height:1.2em;
		& sup{
			font-size:60%;
			padding-right:5px;
			letter-spacing:1px;
			top: -.4em;
		}
	}
	.video-text-1b  {
		font-size:4em;
		line-height:.9em;
		margin-bottom:20px;
	}
	.video-text-2a {

	}
	.video-text-2b {
		padding-top:40px;
		img {
			width:80px;
			height:auto;
			cursor:pointer;
			@include opacity(0.7);
			@include transition-duration(.5s);
			&:hover,
			&:focus {
				@include opaque;
			}
		}
	}
}

.video-controls {
	position:absolute;
	bottom:90px;
	right:20px;
	color:$nmu-gray;
	font-size:2em;
	&:hover {
		cursor:pointer;
		color:white;
	}
}

.hp-column-container {
 background:$nmu-gray;
}

//this stuff was just added for the demo
.hp-column-one, .hp-column-two, .hp-column-three {
	padding:5px 0 0 0 !important;
	img {
		width:404px;
	}
}
//end of demo stuff

.hp-column-one {
 background:$nmu-green-darker;
}
.hp-column-two {
 background:$nmu-green-dark;
}
.hp-column-three {
 background:$nmu-green;
}

.hp-events-section {
	padding-top:5px;
	background:$nmu-green;
}

/**
 * Footer.
 */

/*
#footer {
	background: $nmu-black;
}
.footer-main {
	color:$nmu-gray-light;
	font-family:$humanist-roman;
	text-align:center;
	margin:4em 2em;
	h5 {
		font-size:1.2em;
		font-family:$humanist-roman;
	}
	p {
		margin-bottom:5px;
	}
	a {
		color:$nmu-gray-light;
		@include transition(all 0.5s ease-in-out);
		&:hover {
			color:white;
		}
	}

}
*/

//* Demo footer stuff
#footer {
	background: $nmu-green-darker;
	margin-left:-15px;
	margin-right:-15px;
	.block {
		margin-bottom:0;
	}
}
.footer-main {
	text-align:center;
	img {
		width:100%;
	}
}

/**
 * Generic Classes.
 */

.allcaps {
	text-transform:uppercase;
}
#toolbar {
	top:60px;  //* adjust the toolbar position to accommodate for the static top nav when logged in
}
