.video-row {
	#fearless-video {
		width:100%;
		height:500px;
		position:absolute;
		left:0;
		margin-top:-50px;
		@media all and #{$mq-bootstrap-xs-max} {
			margin-top:0;  //mobile does not have top nav, so the video will overlap branding without this reset
		}
		display:block;
		z-index:95;
	}
	&:after {
		width:100%;
		height:500px;
		position:relative;
		margin-top:-51px;  //this is 51 to hide the phantom line on the bottom of the video only displayed on an ipad. borders were increased to 6 on the columns to compensate
		content:"";
	}
}
.overlay-wrapper {
	position:relative;
}

.video-overlay {
	position:absolute;
	top:70px;
	left:0;
	width:100%;  //this is needed to center the text
	color:white;
	text-align:center;
	z-index:99;
	letter-spacing:2px;
	margin-left:auto;
	margin-right:auto;
	.video-text-1a {
		font-size:1.7em;
		@media all and #{$mq-bootstrap-sm-min} {
			font-size:2em;
		}
		line-height:1.2em;
		& sup{
			font-size:60%;
			padding-right:5px;
			letter-spacing:1px;
			top: -.4em;
		}
	}
	.video-text-1b  {
		font-size:3em;
		@media all and #{$mq-bootstrap-sm-min} {
			font-size:4em;
		}
		line-height:.9em;
		margin-bottom:20px;
	}
	.video-text-2a {

	}
	.video-text-2b {
		border: 1px solid white;
		text-align: center;
		display: inline-block;
		padding: 15px 30px;
		margin-top: 40px;
		cursor: pointer;
		@include border-radius(3px);
		@include transition-duration(.5s);
		&:hover,
		&:focus {
			background-color:rgba(202, 200, 200, 0.2);
		}

		/*
		img {
			width:80px;
			height:auto;
			cursor:pointer;
			@include opacity(0.7);
			@include transition-duration(.5s);
			&:hover,
			&:focus {
				@include opaque;
			}
		}
		*/
	}
}


.video-controls {
	position:absolute;
	bottom:90px;
	right:20px;
	color:$nmu-gray;
	font-size:2em;
	&:hover {
		cursor:pointer;
		color:white;
	}
}
