/*
 * Footer
 */

#footer {
	padding: 50px 20px;
	font-size: small;
	text-align: center;
	color: #979797;
	overflow: hidden;
	background-image: url('/sites/all/themes/zen_nmu/images/footer.jpg');
	h1 {
		font-size: 1em;
		color: #ccc;
	}

	p span {
		font-size: 1.5em;
	}

	a {
		color: inherit;
		text-decoration: none;
		@include transition(all 0.5s ease-in-out);
		&:hover {
			color:white;
		}
	}

	hr {
		width: 1.5em;
		height: 1px;
		margin-bottom: 25px;
		border: none;
		background: #ccc;
	}

	.reporting {
		margin-top: 25px;
		display: inline-block;
		max-width: 15em;
		a {
			display: block;
			height: 100%;
		}
	}

	nav ul {
		color: #aaa;
		list-style-type: none;
		margin: 0;
		padding: 0;
		line-height: 2.5;
	}
}


/* tablet and desktop */
@media all and #{$mq-bootstrap-sm-min} {
	footer {
		nav ul {
			overflow: auto;
			display: inline-block;

			li {
				float: left;
				/* add the |'s inbetween each list item */
				& + li:before {
					content: '|';
					padding: 0 1.5em;
				}
			}
		}
	}
}
