/*
 * Footer
 */
#footer .block {  //we want the footer blocks to sit right on top of each other, so no bottom margin
	margin-bottom:0;
}

.postscript {
	margin-top:20px;
	img {
		width:100%;
		height:auto;
	}
	.gallery,
	.share {
		position:relative;
		display:inline-block;
		padding:0;
	}
	.gallery-text,
	.share-text {
		position:absolute;
		color:white;
		text-align:center;
		top:0;
		left:0;
		margin:0 auto;
		width:100%;
		padding-top:20%;
		font-size:2em;
		line-height:1.4em;
	}
	.gallery-visit,
	.share-share {
		font-weight:600;
		color:$nmu-gold;
	}
	.gallery-button {
		font-size:.5em;
		border:1px solid $nmu-gold;
		width:200px;
		margin:20px auto 0;
	}
	.share-buttons {
		margin-top:20px;
		.share-facebook,
		.share-linkedin,
		.share-instagram,
		.share-twitter {
			background-image:url(/sites/all/themes/zen_nmu/images/social-icons.png);
			width:35px;
			height:35px;
			display:inline-block;
			margin:2px;
		}
		.share-facebook {
			background-position:0px 0px;
		}
		.share-twitter {
			background-position:35px 0px;
		}
		.share-instagram {
			background-position:77px 70px;
		}
		.share-linkedin {
			background-position:123px 0px;
		}
	}
}


.footer-main {
	padding: 50px 20px;
	font-size: .95em;
	text-align: center;
	color: #979797;
	position: relative;
	overflow: hidden;
	background-color:$nmu-green-darker;
	@media all and #{$mq-bootstrap-sm-min} {
		background-image: url('/sites/all/themes/zen_nmu/images/footer.jpg');
		background-position:center;
	}
	h4 {
		font-size: 1em;
		color: #ccc;
	}
	.bullet {
		padding:0 5px;
	}

	a {
		color: inherit;
		text-decoration: none;
		@include transition-duration(.5s);
		&:hover {
			color:white;
		}
	}

	.reporting {
		margin-top: 25px;
		display: inline-block;
		img {
			padding-bottom:20px;
		}
		a {
			display: block;
			height: 100%;
		}
	}

	hr {
		width: 1.5em;
		height: 1px;
		margin-bottom: 40px;
		border: none;
		background: #ccc;
	}

	nav ul {
		list-style:none;
		padding:0;
		@media all and #{$mq-bootstrap-sm-min} {
			li {
				display:inline-block;
				& + li:before {
					content: '|'; // add the |'s inbetween each list item
					padding: 0 1.5em;
				}
			}
		}
	}
}



