/**
 * @file
 * SMACSS Modules - NMU Specific
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 *
 *	NMU Fonts
 * $humanist-roman -serif
 *	$humanist-black
 *	$avenir-medium - sanserif
 *	$avenir-black
 *
 */

/**
 * Header.
 */

.region-top-navigation {
	background: $nmu-black;
}
.region-branding {
	background: $nmu-green;
}
.region-main-navigation {
	background:$nmu-green-darker;
}

/**
 * Body.
 */
#main {background:$nmu-gray-lighter;}
#content {
	background:white;
	height: 100%; //make sure drupal's admin bar does not add some phantom padding to the bottom of main
}


/**
 * Footer.
 */

#footer {background:$nmu-green;}

.postscript_region {
	font-size: .8em;
	width: 160px;
	display: inline-block;
	vertical-align: top;
}

#footer_region_first,
#footer_region_second {
	float:left;
}
